
<div class="main-container container ">
    <div class="jumbotron create-tron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center mb-5 createTitle">Create Your Account.</h1>
        </div>
        <div class="form-container container">

            <form action="form.signup" method="post">
                <div class="form-group">
                    <label for="email-input">Email</label>
                    <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="password-input">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                {{!-- <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Enter user Name...">
                </div> --}}
                <button type="submit" class="btn  btn-lg btn-primary" target="/create">Submit</button>
            </form>
        </div>
    </div>
</div>