<div id="home">
  <div class="container container1 d-flex flex-row">
    <div class="container container-index">
      <div class="jumbotron-index m-5">
        <h1 class="createTitle">{{msg}}</h1>
        <p class="lead">A collaborative website for content creators!</p>
        <hr class="my-4">
        <p>Welcome to Bitmap! Your destination for content colabs. Here you can find your next great team member.
          We will help you find artists for your Twitch or a streamer for your great designs and art. With the great
          community and easy use website,
          you'll find exactly what you need and a great person to work with.
        </p>
      </div>
    </div>
    <div class="container2 d-flex justify-content-center">
      <div class="jumbotron-index m-5">
        <h2>Create your account now!</h2>
        <div class="container container-button d-flex justify-content-center">
          <a class="btn btn-primary btn-lg" href="/create" role="button">Click here!</a>
        </div>
        <div class="container container-button d-flex justify-content-center">
          <a class="btn btn-primary btn-lg mt-4" href="/SEARCH" role="button">Click here!</a>
        </div>
        
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>