<div class="main-container container ">
    <div class="jumbotron create-tron">
        <div class="container">
            <h1 class="display-4 text-center mb-5 createTitle">Login to Bitmaps</h1>
        </div>
        <div class="form-container container">
            <form action="/login" method="post">
                <div>
                    <label>Username:</label>
                    <input name="username" type="text"/>
                </div>
                <div>
                    <label>Password:</label>
                    <input name="password" type="password"/>
                </div>
                <div>
                    <input class="btn btn-outline-primary" type="submit" value="Log In"/>
                </div>
            </form>
        </div>
    </div>
</div>
