<div class="search-container container main-container create-tron text-center ">
    <header class="display-3 mb-4">Find A User</header>
    <div class="container d-flex justify-content-center">
        <form action="/profile" method="GET" class="form-inline search-form mb-4">
            <input id="user-search" class="form-control " name="user" type="text" placeholder="search">
            <button id="search-btn" class="btn btn-outline-success " value="searched" type="submit">Search</button>
            <div class="img-container container  mt-4"></div>

        </form>
    </div>
</div>