body{
    background-image: url(../images/looped-hexagon.png)

}
.main-container{
    margin: 0;
    padding: 0;
    background:whitesmoke;
     height: fit-content;
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Box shadow for main content */
.main-container {
    background: transparent;
    box-shadow: 1px 1px 15px 10px rgb(139, 164, 236);
}
.form-container{
    height: fit-content;
}

.createTitle{
    border-bottom: 3px solid rgb(139, 164, 236);
}
.create-tron{
    margin-bottom: 0;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.7);

}

.list-group-item {
    line-height: 2.5;
}

.profile-img-container{
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.navbar-container{
    padding: 0;
}

.libraries-container{
    display: flex;
    justify-content: space-evenly;
}

/* body{background: rgb(108,117,125);} */
.container-index{
    margin-top: 20%;
    padding: 0;
    background:whitesmoke;
    height: fit-content;
    top: 50%
  }
  /* Box shadow for main content */
  .container-index {
    box-shadow: 1px 1px 20px 0px black;
  }
  .container1{
    width: 60%;
  }
  .container2{
    margin-top: 20%;
    width: 60%
  }
  .profile-content{
    margin: 0;
    padding: 0;
    background:whitesmoke;
    height: fit-content;
    margin: 0 auto;
  }


  
   

